server {
    server_name _;
    server_tokens off;

    listen 80;
    listen [::]:80;

    http2 on;

    location /.well-known/health {
        return 200 "OK";
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
